<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<%= link_to 'Edit', edit_type_path(@type), class: "btn btn-xs  btn-primary" %> |
<%= link_to 'Back', types_path, class: "btn btn-xs  btn-primary" %>
