<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @priority.name %>
</p>

<%= link_to 'Edit', edit_priority_path(@priority), class: "btn btn-xs  btn-primary" %> |
<%= link_to 'Back', priorities_path, class: "btn btn-xs  btn-primary" %>
