<h1>Editing Project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project, class: "btn btn-xs  btn-primary" %> |
<%= link_to 'Back Back to Projects', projects_path, class: "btn btn-xs  btn-primary" %>
