.v-well{
  height: 450px;
}

.no-padding{
  padding: 0 !important;
}
.left-padding{
  padding-left: 15px !important ;
}
.left-margin{
  margin-left: 15px !important;
}
.label{
  font-weight: normal !important;
}