<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase_level.name %>
</p>

<%= link_to 'Edit', edit_phase_level_path(@phase_level), class: "btn btn-xs  btn-primary" %> |
<%= link_to 'Back', phase_levels_path, class: "btn btn-xs  btn-primary" %>
